<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration >
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS z,JST} %-5level [%30.30logger][%15.15thread][%35.35class{5}:%4line] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<logger name="oldtricks" level="DEBUG" additivity="true"/>
	<logger name="org.apache.http.wire" level="DEBUG" additivity="true"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>